*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","苹方";
	font-style: normal;
	font-weight: normal;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000000;
	/* 清除A标签下划线 */
}
@font-face {
  font-family: 'iconfont';  /* project id 974142 */
  src: url('//at.alicdn.com/t/font_974142_ltjdkbc6gz.eot');
  src: url('//at.alicdn.com/t/font_974142_ltjdkbc6gz.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_974142_ltjdkbc6gz.woff') format('woff'),
  url('//at.alicdn.com/t/font_974142_ltjdkbc6gz.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_974142_ltjdkbc6gz.svg#iconfont') format('svg');
}
.iconfont{
	font-family:iconfont;
}
.root{
	max-width: 640px;
	height: 100vh;
	margin: 0 auto;
}